body{
	background: #202124;
	font-family: arial, sans-serif;
	margin: 0;
	color: whitesmoke;
}

#main_nav{
	text-align: right;
	margin: 1rem;
	margin-top: 1.5rem;
}

.links{
	text-decoration: none;
	padding: 10px;
	font-family: sans-serif;
	font-size: small;
	color: whitesmoke;
}

#adv_search, #adv_search_button{
	border: 1px solid #3B86D0;
	background: #3B86D0;
}

.borders{
	margin: 0;
	border-bottom: 1px solid #3c4043;
}

#search_heading{
	color: #f28b82;
	font-size: 20px;
    margin: 25px 35px;
}

#forum_indent{
	margin: 40px 2% 0 45px;
}

#adv_search_button{
	color: whitesmoke;
	height: 30px;
	border-radius: 2.5px;
}

.forum{
	display: flex;
	width: 80%;
}

.input_box{
	background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
    width: 99%;
    padding: none;
    height: inherit;
}

.labels, .input_fields, #span{
	display: inline-block;
	vertical-align: middle;
	height: 23px;
	margin: 8px 0;
}

.labels{
	width: 32%;
	font-size: 13px;
	color: #bdc1c6;
}

.input_fields{
	width: 67%;
}